body {
background-color:#f4f1de
}

ul{
  list-style-type: none;
  background-color: #826AED;
  width: 100%;
  overflow: higgen;
  position: fixed;
  text-align: center; 
  left: 0;
  top: 0;
  margin: 0;
}

li{
  float: right;
}

li a {
  display: block; // for help w3school.com
  color: white;
  text-decoration: none;
  padding: 15px 50px;
  border-style: solid;
  border-color: black;
}
li a:hover {
  background-color: red;
  color: red;
  text-color: white;
}
